<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for(@task) do |t| %>
          <%= t.input :title %>
          <%= t.input :details %>
          <%= t.input :completed, :as => :boolean, input_html: {checked: false} %>
          <%= t.submit class: 'btn btn-primary w-100' %>
      <% end %>
    </div>
  </div>
</div>